header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 50px;
        padding: 0 80px;
        cursor: pointer;

    }
}


    .darkLinks {
        a {
            color: black;
            &:hover {
                color: rgba(0, 0, 0, 0.839);
            }
        }
    }


    a {
        color: white;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 20px;
        margin: 0 20px;
    }

    .darkHeader {
        background-color: white;
        box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.117);
    }
   
