
	<h1>Impressum:</h1>
	<p>Angaben gemäß § 5 TMG:</p>
	<p>Max Mustermann<br>
	Musterstraße 1<br>
	12345 Musterstadt</p>

	<p>Kontakt:</p>
	<p>Telefon: 0123-456789<br>
	E-Mail: <a href="mailto:max.mustermann@mustermail.de">max.mustermann@mustermail.de</a></p>

	<p>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
	<p>Max Mustermann<br>
	Musterstraße 1<br>
	12345 Musterstadt</p>

	<p>Haftungsausschluss:</p>
	<p>Haftung für Inhalte<br>
	Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>

	<p>Haftung für Links<br>
	Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.</p>

	<p>Urheberrecht<br>
	Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>

	<p>Datenschutz<br>
	Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adresse) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.</p>

	<p>Quellenangaben für die verwendeten Bilder und Grafiken:<br>
	© John Doe - Fotolia.com</p>


